@mixin opacity-hover($start-level: 1, $hover-level: 0.5) {
  transition: opacity .25s ease;
  opacity: $start-level;

  &:hover, &:focus {
    opacity: $hover-level;
  }
}
.opacity-hover {
  @include opacity-hover();
}

@mixin inline-link-animation($border-color: color('primary'), $hover-border-color: color('primary')) {
  position: relative;
  border-bottom: 1px solid $border-color;
  background: none;
  transition: background .5s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    border-bottom: 1px solid transparent;
    width: 0;
    height: 0;
  }

  &:focus::after,
  &:hover::after {
    width: 100%;
    height: 100%;
    border-color: $hover-border-color; // Make borders visible
    transition:
      width 0.25s ease-out, // Width expands first
      height 0.25s ease-out 0.25s, // And then height
  }

}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
// Link Animations
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
.link-primary {
  @include inline-link-animation($border-color: rgba(color('primary'),0), $hover-border-color: color('primary'));
}

.link-primary-to-text {
  color: color('primary');
  transition: color .25s ease;

  &:hover, &:focus { color: color('text'); }
}

.link-primary-to-fade {
  color: color('primary');
  transition: opacity .25s ease;

  &:hover, &:focus { opacity: .5; }
}


.arrow-link-primary {
  @include arrow-link;
  
  &__inner {
    @include inline-link-animation($border-color: rgba(color('primary'),0), $hover-border-color: color('primary'));
  }
}

.fade-in {
  opacity: 0;
  transition: all 2s ease;

  &.animate.is-visible {
    opacity: 1;
    left: 0;
  }

  .no-js & { opacity: 1; }
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
// Movement Animations
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
.slide-in-from-left {
  left: -2rem;
  opacity: 0;
  transition: all 1s ease;

  &.animate.is-visible {
    opacity: 1;
    left: 0;
  }

  .no-js & { opacity: 1; }
}

.slide-in-from-right {
  right: -2rem;
  opacity: 0;
  transition: all 1s ease;
  
  &.animate.is-visible {
    opacity: 1;
    right: 0;
  }

  .no-js & { opacity: 1; }

}

.slide-in-from-bottom {
  bottom: -2rem;
  opacity: 0;
  transition: all 1s ease;
  
  &.animate.is-visible {
    opacity: 1;
    bottom: 0;
  }

  .no-js & { opacity: 1; }
}