*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

:target:before {
  content: "";
  display: block;
  height: 80px;      // fixed header height
  margin: -80px 0 0; // negative fixed header height
}

main { display: block }

body.show-layover {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
  color: color('primary');
  text-decoration: none;
}